.card {
	width: 95px;
	height: 150px;
	background-color: #FFFFFF;
	border: solid 2px #2E86A1;
	border-radius: 12px;
	float:left;
	padding: 3px;
	margin: 1px;
}

span.bottom-right {
	float: right;
}

.card .rank {
	color: #22022B;
	font-size:15pt;
	font-family: 'Kaushan Script', cursive;
}

.card .suit {
	height: 100px;
	width: 90px;
}

.Hearts {
	width: 100%;
	height: 100%;
	content: url('images/Heart.png');
	background-size: contain;
	background-repeat:no-repeat;
}

.Diamonds {
	width: 100%;
	height: 100%;
  content: url('images/Diamond.png');
	background-size: contain;
	background-repeat:no-repeat;
}

.Clubs {
	width: 100%;
	height: 100%;
	content: url('images/Club.png');
	background-size: contain;
	background-repeat:no-repeat;
}

.Spades {
	width: 100%;
	height: 100%;
	background-image: url(images/Spade.png);
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 2;	
}

.card-back {
	background-image: url('images/minion.png');
	background-size: contain;
	background-repeat:no-repeat;	
	z-index: 1;
}

div.hidden {
	visibility: hidden;
}

.remove {
	display: none;
}

.pile {
	float: both;
	margin: 0 500px;
	margin-top: 200px;
	margin-bottom: 0px;
}

.highlight {
	/* background-color: #9DEDFC; */
	/* box-shadow: 20px 20px -200px -200px #ffe100; */
	border: 10px outset #ffe100;
}

.cards-pile {
	box-shadow: 10px 10px 5px #888888;
}

.player2-river {
	/* border: solid 2px #BCE40D; */
	border-radius: 12px;
	float:left;
	padding: 3px;
	margin: 1px;
	margin-right: 25px;
}

.player2-draw {
	/* border: solid 2px #340DE4; */
	border-radius: 12px;
	float:left;
	padding: 3px;
	margin: 1px;
	margin-right: 25px;
}

.player2-hand {
	/* border: solid 2px #E44A0D; */
	border-radius: 12px;
	float:left;
	padding: 3px;
	margin: 1px;
	float: left;
	margin-right: 40px;
}

.player1-river {
	/* border: solid 2px #BCE40D; */
	border-radius: 12px;
	float:left;
	padding: 3px;
	margin: 1px;
	margin-right: 25px;
}

.player1-draw {
	/* border: solid 2px #340DE4; */
	border-radius: 12px;
	float:left;
	padding: 3px;
	margin: 1px;
	margin-right: 25px;
		position: relative;
}

.player1-hand {
	/* border:heroku solid 2px #E44A0D; */
	border-radius: 12px;
	float:left;
	padding: 3px;
	margin: 1px;
	position: relative;
	/* width: 650px; */
}

.river-top {
	margin-top: 50px;
	position: absolute;
	margin-right: 325px;
	z-index: 2;
}

.river-bottom {
	position: relative;

}

.stats {
	height: 250px;
	width: 195px;
}

body{
	background: radial-gradient(#10D1F3, #4EDAF3, #0594F3);
	font-family: 'Kaushan Script', cursive;
	padding: 30px;
}

.navbar-inverse .navbar-brand {
  font-weight: bolder;
  color: #01C1FC
}
.navbar-inverse .navbar-nav>li>a {
  font-weight: bolder;
  color: #9AE7FF;
}
a {
  font-weight: bolder;
  color: #3DC8FF;
}
h2{
	font-size: 18px;
	padding: 10px 20px;
	color: #575ed8;
}

.login{
	max-width: 400px;
	margin: 350px auto;
	/* border: 1px solid #ddd; */
	box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
	border-radius: 2px;
	float: both;
}

label{
	box-sizing: border-box;
	display: block;
	padding: 10px 20px;
}

input{
	padding: 10px 20px;
	box-sizing: border-box;
	background: #eee;
	border: 0;
	display: block;
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #eee;
	font-family: 'Kaushan Script', cursive;
	font-size: 16px;
}

button{
	background: #FAEB1D;
	color: #046BF1;
	font-size: 22px;
	font-weight: bolder;
	border: 0;
	padding: 12px 0;
	width: 80%;
	border-radius: 2px;
	font-family: 'Kaushan Script', cursive;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 20px;
	display: inline-flex;
}
.navbar-right {
	float: right;
}
.navbar-header {
	display: inline-block;
	position: relative;
}