.card {
	width: 95px;
	height: 150px;
	background-color: #FFFFFF;
	border: solid 2px #2E86A1;
	border-radius: 12px;
	float:left;
	padding: 3px;
	margin: 1px;
}

span.bottom-right {
	float: right;
}

.card .rank {
	color: #22022B;
	font-size:15pt;
	font-family: 'Kaushan Script', cursive;
}

.card .suit {
	height: 100px;
	width: 90px;
}

.card.suit.Hearts {
	background-image: url('images/Heart.png');
	background-size: contain;
	background-repeat:no-repeat;
	z-index: -1;
}

.card.suit.Diamonds {
  background-image: url('images/Diamond.png');
	background-size: contain;
	background-repeat:no-repeat;
	z-index: -1;
}

.card.suit.Clubs {
	content: url('images/Club.png');
	background-size: contain;
	background-repeat:no-repeat;
	z-index: -1;
}

.card.suit.Spades {
  content: url('images/Spade.png');
	background-size: contain;
	background-repeat:no-repeat;
	z-index: -1;	
}

.card-back {
	background-image: url('images/minion.png');
	background-size: contain;
	background-repeat:no-repeat;	
	z-index: 1;
}

div.hidden {
	visibility: hidden;
}

.remove {
	display: none;
}

.highlight {
	box-shadow: 8px, 8px, 8px, #F8F405;
	border: solid 20px green;
}
.cards-pile {
	box-shadow: 10px 10px 5px #888888;
}
.player2-river {
	border: solid 2px #BCE40D;
	border-radius: 12px;
	float:left;
	padding: 3px;
	margin: 1px;
	margin-right: 15px;
}

.player2-draw {
	border: solid 2px #340DE4;
	border-radius: 12px;
	float:left;
	padding: 3px;
	margin: 1px;
}

.player2-hand {
	border: solid 2px #E44A0D;
	border-radius: 12px;
	float:left;
	padding: 3px;
	margin: 1px;
}

.player1-river {
	border: solid 2px #BCE40D;
	border-radius: 12px;
	float:left;
	padding: 3px;
	margin: 1px;
	margin-right: 15px;
}

.player1-draw {
	border: solid 2px #340DE4;
	border-radius: 12px;
	float:left;
	padding: 3px;
	margin: 1px;
}

.player1-hand {
	border: solid 2px #E44A0D;
	border-radius: 12px;
	float:left;
	padding: 3px;
	margin: 1px;
}

.stats {
	height: 250px;
	width: 195px;
}

.pile {

}

body{
	font-family: 'Kaushan Script', cursive;
}

h2{
	font-size: 18px;
	padding: 10px 20px;
	color: #575ed8;
}

.login{
	max-width: 600px;
	margin: 30px auto;
	border: 1px solid #ddd;
	box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
	border-radius: 2px;
	float: both
}

#chat-window{
	height: 400px;
	overflow: auto;
	background: #f9f9f9;
}

#output p{
	padding: 14px 0px;
	margin: 0 20px;
	border-bottom: 1px solid #e9e9e9;
	color: #555;
}

#feedback p{
	color: #aaa;
	padding: 14px 0px;
	margin: 0 20px;
}

#output strong{
	color: #575ed8;
}

label{
	box-sizing: border-box;
	display: block;
	padding: 10px 20px;
}

input{
	padding: 10px 20px;
	box-sizing: border-box;
	background: #eee;
	border: 0;
	display: block;
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #eee;
	font-family: 'Kaushan Script', cursive;
	font-size: 16px;
}

button{
	background: #FAEB1D;
	color: #046BF1;
	font-size: 18px;
	border: 0;
	padding: 12px 0;
	width: 100%;
	border-radius: 2px;
}